@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    
    min-width: 300px;
    min-height: 500px;
}

#root {
    width: 100vw;
    height: 100vh;
    
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width:100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }
  

  /* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }

  /* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f50;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #f50;
  }

#red::-webkit-slider-thumb {
  border: 2px solid red;
    /*  slider progress trick  */
  box-shadow: -407px 0 0 400px red;
}

#blue::-webkit-slider-thumb {
  border: 2px solid blue;
    /*  slider progress trick  */
  box-shadow: -407px 0 0 400px blue;
}


#green::-webkit-slider-thumb {
  border: 2px solid green;
    /*  slider progress trick  */
  box-shadow: -407px 0 0 400px green;
}


  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #f50;
  }